body {
    font-family: 'Arial', sans-serif;
    background-color: #003049;
    color:white;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Orbitron";
}

.countdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 400px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    color:#fca311;
    display: block;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1.3rem;
}

input {
    background-color: #14213d;
    border-radius:10px;
    width: 100%;
    height:30px;
    padding: 8px;
    margin-bottom: 2rem;
    font-family: "Orbitron";
    color:forestgreen;
    outline:none;
}

button {
    background-color: #669bbc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Orbitron";
    width:150px;
}

button:hover {
    background-color: #45a049;
}

#countdown {
    font-size: 24px;
    margin-top: 20px;
}
#countdownbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:.5rem;
   
   
}

#countdownbox .box{
 display: flex;
 flex-direction: column;
 align-items: center;   
 justify-content: center;
 width: 70px;
 height:70px;
 background-color: #e63946;
 border-radius:10px;
}
#countdownbox span{
    font-size: 15px;
}
.reset{
    margin-top:2rem;
}

@media (max-width:768px){
    .countdown-container{
        width:280px;height:450px;
    }
    input{
        width:80%;
    }
     #countdownbox{
flex-wrap: wrap;
gap:1rem;
     }
    #countdownbox .box{
        width: 60px;
        height:60px;
        
    }

}